* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: red;
    text-align: center;
    margin: 20px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}

th {
  background-color: grey;
  color: black;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(211, 172, 172);
  color: black;
}

tr:hover {
  background-color: red;
  color: white;
}
